.list-item {
  width: 300px;
  height: 300px;
  padding: 0;
  transition: 2s;
}

.list-item li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  list-style: none;
  backface-visibility: hidden;
}

.list-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.list-wrapper {
  transform-style: preserve-3d;
  /* margin-top: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.direction-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


/* btn style */
.btn-left,
.btn-right,
.btn-play,
.btn-splash,
.btn-auto-rotate {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  padding: 0;
  margin: 10px 10px 10px 10px;
  /* margin-top: 10px; */
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  background: #5dc8cd;
  box-shadow: 0px 5px 0px 0px #1e8185;
  font-family: "Josefin Slab", serif;
  border: none;
}

.btn-left:hover,
.btn-right:hover,
.btn-play:hover,
.btn-splash:hover,
.btn-auto-rotate:hover {
  box-shadow: 0px 0px 0px 0px #1e8185;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btn-play {
  position: absolute;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}