.slpash-box {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: absolute;
  opacity: 9999;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.act {
  opacity: 0;
  visibility: hidden;
}

/* .btn-splash {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  padding: 0;
  margin: 10px 10px 10px 10px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  background: #5dc8cd;
  box-shadow: 0px 5px 0px 0px #1e8185;
  font-family: "Josefin Slab", serif;
  border: none;
} */

.list-item {
  transform-style: preserve-3d;
  transform: translateY(0);
}

.list-wrapper {
  perspective: 1600px;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);

  }
}