.slpash-box {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: absolute;
  opacity: 9999;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.act {
  opacity: 0;
  visibility: hidden;
}

.list-item {
  transform-style: preserve-3d;
  transform: translateY(0);
}

.list-wrapper {
  perspective: 1600px;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);

  }
}